<style>
.wrap-pic-w > img {
    width: 75%;
}

.ab-c-m {
	padding: 10px;
}

</style>



<!-- Flavors -->
<!-- <section class="sec-flavors bg-img1 p-t-145 p-b-45" style="background-image: url(images/bg-02.jpg);">
	<div class="container">
		<div class="size-a-1 flex-col-c-m p-b-48">
			<div class="txt-center txt-m-201 cl10 how-pos1-parent m-b-14">		

				Green Smile

				<div class="how-pos1" style="top: 174%;">
					<img src="images/bouquet.png" alt="IMG" style="margin-bottom: 50px">
				</div>
			</div>

			<h3 class="txt-center txt-l-101 cl3 respon1">
				Trouver un bon resto libanais à Agde
			</h3>
		</div>

		<div class="flex-c-m wrap-pic-w p-t-10 p-b-38">
			<img src="images/tabbouleh.jpg" alt="IMG">
		</div>

		<div class="row justify-content-center">
			<div class="col-sm-8 col-lg-4 p-b-50">
				<div class="p-r-30 p-rl-0-xl">
					<div class="flex-w flex-str p-b-20">
						<div class="flex-l-m size-w-18 m-r-28">
							<img src="images/coffee-cup.png" alt="IMG">
						</div>

						<div class="size-w-19">
							<div class="how-bor1 p-b-6 m-b-13">
								<span class="txt-l-107 cl10">
									01
								</span>
								
								<span class="txt-m-112 cl10">
									/ 100%
								</span>
							</div>

							<span class="txt-m-301 cl3">
								100%  Produits Frais
							</span>
						</div>
					</div>

					<p class="txt-s-101 cl6">
						Cuisine libanaise typique et moderne.
					</p>
				</div>
			</div>
			
			<div class="col-sm-8 col-lg-4 p-b-50">
				<div class="p-rl-15 p-rl-0-xl">
					<div class="flex-w flex-str p-b-20">
						<div class="flex-l-m size-w-18 m-r-28">
							<img src="images/cheers.png" alt="IMG">
						</div>

						<div class="size-w-19">
							<div class="how-bor1 p-b-6 m-b-13">
								<span class="txt-l-107 cl10">
									02
								</span>
								
								<span class="txt-m-112 cl10">
									/ 100%
								</span>
							</div>

							<span class="txt-m-301 cl3">
								Cuisine relevée et agrémentée
							</span>
						</div>
					</div>

					<p class="txt-s-101 cl6">
						Expérience professionnelle de plus de 10 ans.
					</p>
				</div>
			</div>

			<div class="col-sm-8 col-lg-4 p-b-50">
				<div class="p-l-30 p-rl-0-xl">
					<div class="flex-w flex-str p-b-20">
						<div class="flex-l-m size-w-18 m-r-28">
							<img src="images/restaurant2.png" alt="IMG">
						</div>

						<div class="size-w-19">
							<div class="how-bor1 p-b-6 m-b-13">
								<span class="txt-l-107 cl10">
									03
								</span>
								
								<span class="txt-m-112 cl10">
									/ 100%
								</span>
							</div>

							<span class="txt-m-301 cl3">
								Cuisine Libanaise
							</span>
						</div>
					</div>

					<p class="txt-s-101 cl6">
						Spécialités libanaises et cuisine méditerranéenne à Agde.
					</p>
				</div>
			</div>
		</div>
	</div>
</section> -->

<!-- Item -->
<!--div class="sec-item container-brick">
	<div class="wrap-brick">
		<div class="brick1" style="background: #d20d2a;">
			<div class="s-full pos-relative hov5-parent">
				<img class="ab-c-m" style="width:674px;height:260px;" src="images/product_4.jpg" alt="IMG">

				<div class="s-full ab-t-l bg14 flex-col-c-m p-all-15 hov5 trans-04">
					<span class="txt-l-104 cl14 txt-center p-b-18">
						Kafta tartar
					</span>

					<p class="txt-s-101 cl14 txt-center size-w-21 m-b-35 size-h-3 of-hidden">
						Spicy minced meat, onions and parsley.
					</p>

					<a href="#/gallery" class="flex-c-m txt-s-103 cl14 size-a-2 how-btn1 bo-all-1 bocl11 hov-btn2 trans-04">
						Explorez
						<span class="lnr lnr-chevron-right m-l-7"></span>
						<span class="lnr lnr-chevron-right"></span>
					</a>
				</div>
			</div>
		</div>

		<div class="brick2" style="background: #d20d2a;">
			<div class="s-full pos-relative hov5-parent">
				<img class="ab-c-m" style="width:330px;height:260px;" src="images/product_6.jpg" alt="IMG">

				<div class="s-full ab-t-l bg14 flex-col-c-m p-all-15 hov5 trans-04">
					<span class="txt-l-104 cl14 txt-center p-b-18">
						Humus
					</span>

					<p class="txt-s-101 cl14 txt-center size-w-21 m-b-35 size-h-3 of-hidden">
						Chickpea mousse, sesame cream, garlic, lemon, olive oil.
					</p>

					<a href="#/gallery" class="flex-c-m txt-s-103 cl14 size-a-2 how-btn1 bo-all-1 bocl11 hov-btn2 trans-04">
						Explorez
						<span class="lnr lnr-chevron-right m-l-7"></span>
						<span class="lnr lnr-chevron-right"></span>
					</a>
				</div>
			</div>
		</div>

		<div class="brick3" style="background: #d20d2a;">
			<div class="s-full pos-relative hov5-parent">
				<img class="ab-c-m" style="width:344px;height:521px;" src="images/imag1_1.png" alt="IMG">

				<div class="s-full ab-t-l bg14 flex-col-c-m p-all-15 hov5 trans-04">
					<span class="txt-l-104 cl14 txt-center p-b-18">
						Baba Ghanouj
					</span>

					<p class="txt-s-101 cl14 txt-center size-w-21 m-b-35 size-h-3 of-hidden">
						Grilled aubergines seasoned with sesame cream.
					</p>

					<a href="#/gallery" class="flex-c-m txt-s-103 cl14 size-a-2 how-btn1 bo-all-1 bocl11 hov-btn2 trans-04">
						Explorez
						<span class="lnr lnr-chevron-right m-l-7"></span>
						<span class="lnr lnr-chevron-right"></span>
					</a>
				</div>
			</div>
		</div>

		<div class="brick4" style="background: #d20d2a;">
			<div class="s-full pos-relative hov5-parent">
				<img class="ab-c-m" style="width:674px;height:260px;" src="images/product_9.jpg" alt="IMG">

				<div class="s-full ab-t-l bg14 flex-col-c-m p-all-15 hov5 trans-04">
					<span class="txt-l-104 cl14 txt-center p-b-18">
						Chanklich
					</span>

					<p class="txt-s-101 cl14 txt-center size-w-21 m-b-35 size-h-3 of-hidden">
						Lebanese goat cheese salad.
					</p>

					<a href="#/gallery" class="flex-c-m txt-s-103 cl14 size-a-2 how-btn1 bo-all-1 bocl11 hov-btn2 trans-04">
						Explorez
						<span class="lnr lnr-chevron-right m-l-7"></span>
						<span class="lnr lnr-chevron-right"></span>
					</a>
				</div>
			</div>
		</div>

		<div class="brick5" style="background: #d20d2a;">
			<div class="s-full pos-relative hov5-parent">
				<img class="ab-c-m" style="width:330px;height:260px;" src="images/product_25.jpg" alt="IMG">

				<div class="s-full ab-t-l bg14 flex-col-c-m p-all-15 hov5 trans-04">
					<span class="txt-l-104 cl14 txt-center p-b-18">
						Labne
					</span>

					<p class="txt-s-101 cl14 txt-center size-w-21 m-b-35 size-h-3 of-hidden">
						Lebanese white cheese, garlic, mint, olive oil	.
					</p>

					<a href="#/gallery" class="flex-c-m txt-s-103 cl14 size-a-2 how-btn1 bo-all-1 bocl11 hov-btn2 trans-04">
						Explorez
						<span class="lnr lnr-chevron-right m-l-7"></span>
						<span class="lnr lnr-chevron-right"></span>
					</a>
				</div>
			</div>
		</div>

		<div class="brick6" style="background: #d20d2a;">
			<div class="s-full pos-relative hov5-parent">
				<img class="ab-c-m" style="width:344px;height:521px;" src="images/product_30.jpg" alt="IMG">

				<div class="s-full ab-t-l bg14 flex-col-c-m p-all-15 hov5 trans-04">
					<span class="txt-l-104 cl14 txt-center p-b-18">
						Kebbé
					</span>

					<p class="txt-s-101 cl14 txt-center size-w-21 m-b-35 size-h-3 of-hidden">
						Beef rings stuffed with pistachios and carrots.
					</p>

					<a href="#/gallery" class="flex-c-m txt-s-103 cl14 size-a-2 how-btn1 bo-all-1 bocl11 hov-btn2 trans-04">
						Explorer
						<span class="lnr lnr-chevron-right m-l-7"></span>
						<span class="lnr lnr-chevron-right"></span>
					</a>
				</div>
			</div>
		</div>

		<div class="brick7" style="background: #d20d2a;">
			<div class="s-full pos-relative hov5-parent">
				<img class="ab-c-m" style="width:661px;height:261px;" src="images/product_15.jpg" alt="IMG">
				
				<div class="s-full ab-t-l bg14 flex-col-c-m p-all-15 hov5 trans-04">
					<span class="txt-l-104 cl14 txt-center p-b-18">
						Leaves of vines
					</span>

					<p class="txt-s-101 cl14 txt-center size-w-21 m-b-35 size-h-3 of-hidden">
						Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.
					</p>

					<a href="#/gallery" class="flex-c-m txt-s-103 cl14 size-a-2 how-btn1 bo-all-1 bocl11 hov-btn2 trans-04">
						Explorer
						<span class="lnr lnr-chevron-right m-l-7"></span>
						<span class="lnr lnr-chevron-right"></span>
					</a>
				</div>
			</div>
		</div>

	</div>	
</div-->

<!-- We Bring -->
<!--section class="sec-bring bg-img1 p-t-145 p-b-100" style="background-image: url(images/bg-02.jpg);">
	<div class="container">
		<div class="size-a-1 flex-col-c-m p-b-40">
			<div class="txt-center txt-m-201 cl10 how-pos1-parent m-b-14">
				Food Is Always Fresh

				<div class="how-pos1">
					<img src="images/bouquet.png" alt="IMG">
				</div>
			</div>

			<h3 class="txt-center txt-l-101 cl3 respon1">
				We bring clean food
			</h3>
		</div>
		
		<div class="how-pos6-parent">
	
			<div class="flex-c-b how-pos6 dis-none-lg">
				<div class="size-w-28 wrap-pic-max-s w-full-sm">
					<img src="images/other-07.png" alt="IMG">
				</div>
			</div>
			

			<div class="flex-w flex-sb m-rl--15 m-rl-0-lg respon20">
				<div class="size-w-24 flex-col p-t-50 p-b-30 respon5">
					<div class="flex-w flex-str size-w-27 al-self-e w-full-lg">
						<div class="size-w-26 flex-r-m txt-right txt-m-109 cl3 respon6-01">
							100% Organic
						</div>

						<div class="size-w-25 flex-r-m respon6-02">
							<img src="images/icons/symbol-20.png" alt="SYMBOL">
						</div>

						<p class="txt-right txt-s-101 cl6 p-t-7 respon6-03">
							It is a long established fact that a reader will be distracted by the readable.
						</p>
					</div>
				</div>

				<div class="size-w-24 flex-col p-t-50 p-b-30 respon5">
					<div class="flex-w flex-str size-w-27 al-self-s w-full-lg">
						<div class="size-w-25 flex-m">
							<img src="images/icons/symbol-23.png" alt="SYMBOL">
						</div>

						<div class="size-w-26 flex-m txt-m-109 cl3">
							Food Safety
						</div>

						<p class="txt-s-101 cl6 p-t-7">
							It is a long established fact that a reader will be distracted by the readable.
						</p>
					</div>
				</div>

				<div class="size-w-24 flex-col p-t-50 p-b-30 respon5">
					<div class="flex-w flex-str size-w-27 al-self-c p-r-6 w-full-lg">
						<div class="size-w-26 flex-r-m txt-right txt-m-109 cl3 respon6-01">
							Family Healthy
						</div>

						<div class="size-w-25 flex-r-m respon6-02">
							<img src="images/icons/symbol-21.png" alt="SYMBOL">
						</div>

						<p class="txt-right txt-s-101 cl6 p-t-7 respon6-03">
							It is a long established fact that a reader will be distracted by the readable.
						</p>
					</div>
				</div>

				<div class="size-w-24 flex-col p-t-50 p-b-30 respon5">
					<div class="flex-w flex-str size-w-27 al-self-c p-l-6 w-full-lg">
						<div class="size-w-25 flex-m">
							<img src="images/icons/symbol-24.png" alt="SYMBOL">
						</div>

						<div class="size-w-26 flex-m txt-m-109 cl3">
							Best Quality
						</div>

						<p class="txt-s-101 cl6 p-t-7">
							It is a long established fact that a reader will be distracted by the readable.
						</p>
					</div>
				</div>

				<div class="size-w-24 flex-col p-t-50 p-b-30 respon5">
					<div class="flex-w flex-str size-w-27 al-self-s w-full-lg">
						<div class="size-w-26 flex-r-m txt-right txt-m-109 cl3 respon6-01">
							Always Fresh
						</div>

						<div class="size-w-25 flex-r-m respon6-02">
							<img src="images/icons/symbol-22.png" alt="SYMBOL">
						</div>

						<p class="txt-right txt-s-101 cl6 p-t-7 respon6-03">
							It is a long established fact that a reader will be distracted by the readable.
						</p>
					</div>
				</div>

				<div class="size-w-24 flex-col p-t-50 p-b-30 respon5">
					<div class="flex-w flex-str size-w-27 al-self-e w-full-lg">
						<div class="size-w-25 flex-m">
							<img src="images/icons/symbol-25.png" alt="SYMBOL">
						</div>

						<div class="size-w-26 flex-m txt-m-109 cl3">
							Premiun Quality
						</div>

						<p class="txt-s-101 cl6 p-t-7">
							It is a long established fact that a reader will be distracted by the readable.
						</p>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</section-->

<!-- Delivery -->
<!--section class="sec-delivery bg-img1 p-t-145 p-b-100" style="background-image: url(images/bg-02.jpg);">
	<div class="container">
		<div class="size-a-1 flex-col-c-m p-b-60">
			<div class="txt-center txt-m-201 cl10 how-pos1-parent m-b-14">
				Organic food

				<div class="how-pos1">
					<img src="images/bouquet.png" alt="IMG">
				</div>
			</div>

			<h3 class="txt-center txt-l-101 cl3 respon1">
				Delivery Process
			</h3>
		</div>
		

		<div class="txt-center pos-relative">
			<img class="max-w-full" src="images/other-12.png" alt="IMG">
		</div>
	</div>
</section-->


<!-- Incentives -->
<section class="sec-incen bg12 p-t-70 p-b-10">
	<div class="container">
		<div class="row">
			<div class="col-sm-10 order-md-2 col-md-6 m-rl-auto">
				<div class="h-full flex-m p-l-30 p-rl-0-lg">
					<div class="p-t-77 p-b-50">
						<div class="size-a-1 flex-col-l p-b-29">
							<div class="txt-m-201 cl10 how-pos1-parent m-b-14">
								Green Smile

								<div class="how-pos1">
									<img src="images/bouquet.png" alt="IMG">
								</div>
							</div>

							<h3 class="txt-l-101 cl3 respon1" style="font-size: 24px;">
								Benefit For Clients
							</h3>
						</div>

						<p class="txt-s-101 cl9">
							Green Smile offers product of excellent quality and invite you to try out marveleous bouquets!
						</p>

						<ul class="p-t-67">
							<li class="flex-w flex-t p-b-40">
								<div class="size-w-48 wrap-pic-max-w txt-left">
									<img src="images/bouquet.png" alt="SYMBOL">
								</div>

								<div class="size-w-49">
									<h4 class="txt-m-103 cl3 p-b-6">
										Fast Delivery
									</h4>

									<p class="txt-s-101 cl6">
										Best quality
									</p>
								</div>
							</li>

							<li class="flex-w flex-t p-b-40">
								<div class="size-w-48 wrap-pic-max-w txt-left">
									<img src="images/bouquet.png" alt="SYMBOL">
								</div>

								<div class="size-w-49">
									<h4 class="txt-m-103 cl3 p-b-6">
										Fast Delivery
									</h4>

									<p class="txt-s-101 cl6">
										Best quality
									</p>
								</div>
							</li>

							<li class="flex-w flex-t p-b-40">
								<div class="size-w-48 wrap-pic-max-w txt-left">
									<img src="images/bouquet.png" alt="SYMBOL">
								</div>

								<div class="size-w-49">
									<h4 class="txt-m-103 cl3 p-b-6">
										Contact us
									</h4>

									<p class="txt-s-101 cl6">
										98 451 254
									</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="col-sm-10 order-md-1 col-md-6 m-rl-auto">
				<div class="flex-m h-full p-r-30 p-rl-0-lg">
					<div class="wrap-pic-max-s">
						<img src="images/product.jpg" alt="IMG">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Item -->
<div class="sec-item flex-w">
	<!--  -->
	<div class="of-hidden size-w-2 respon2">
		<div class="hov-img1 pos-relative">
			<img src="images/bg-item-01.jpg" alt="IMG">

			<a href="shop-product-grid.html" class="s-full ab-t-l flex-col-c-m bg11 p-all-15 hov1-parent">
				<div class="wrap-pic-max-w">
					<img src="images/icons/symbol-03.png" alt="IMG">
				</div>

				<span class="txt-l-102 cl0 txt-center p-t-30 p-b-13">
					VEGETABLE
				</span>
				
				<div class="hov1 trans-04">
					<div class="txt-m-102 cl0 txt-center hov1-child trans-04">
						- 5 Items -
					</div>
				</div>
			</a>
		</div>
	</div>	
	
	<!--  -->
	<div class="of-hidden size-w-2 respon2">
		<div class="hov-img1 pos-relative">
			<img src="images/bg-item-02.jpg" alt="IMG">

			<a href="shop-product-grid.html" class="s-full ab-t-l flex-col-c-m bg11 p-all-15 hov1-parent">
				<div class="wrap-pic-max-w">
					<img src="images/icons/symbol-04.png" alt="IMG">
				</div>

				<span class="txt-l-102 cl0 txt-center p-t-30 p-b-13">
					fruit
				</span>
				
				<div class="hov1 trans-04">
					<div class="txt-m-102 cl0 txt-center hov1-child trans-04">
						- 8 Items -
					</div>
				</div>
			</a>
		</div>
	</div>	

	<!--  -->
	<div class="of-hidden size-w-2 respon2">
		<div class="hov-img1 pos-relative">
			<img src="images/bg-item-03.jpg" alt="IMG">

			<a href="shop-product-grid.html" class="s-full ab-t-l flex-col-c-m bg11 p-all-15 hov1-parent">
				<div class="wrap-pic-max-w">
					<img src="images/icons/symbol-05.png" alt="IMG">
				</div>

				<span class="txt-l-102 cl0 txt-center p-t-30 p-b-13">
					fruit juic
				</span>
				
				<div class="hov1 trans-04">
					<div class="txt-m-102 cl0 txt-center hov1-child trans-04">
						- 15 Items -
					</div>
				</div>
			</a>
		</div>
	</div>	

	<!--  -->
	<div class="of-hidden size-w-2 respon2">
		<div class="hov-img1 pos-relative">
			<img src="images/bg-item-04.jpg" alt="IMG">

			<a href="shop-product-grid.html" class="s-full ab-t-l flex-col-c-m bg11 p-all-15 hov1-parent">
				<div class="wrap-pic-max-w">
					<img src="images/icons/symbol-06.png" alt="IMG">
				</div>

				<span class="txt-l-102 cl0 txt-center p-t-30 p-b-13">
					dried
				</span>
				
				<div class="hov1 trans-04">
					<div class="txt-m-102 cl0 txt-center hov1-child trans-04">
						- 25 Items -
					</div>
				</div>
			</a>
		</div>
	</div>	
</div>

<!-- Fresh food -->
<section class="sec-freshfood bg12 p-t-35">
	<div class="flex-w flex-m">
		<div class="size-w-41 txt-center wrap-pic-max-s w-full-lg p-rl-50 p-rl-15-sm">
			<img src="images/other-10.jpg" alt="IMG">
		</div>

		<div class="size-w-42 p-tb-50 p-r-15 respon3">
			<div class="size-a-1 flex-col-l-m p-b-37">
				<div class="txt-m-202 cl10 m-b-7">
					Fresh Vegetables
				</div>

				<h3 class="txt-l-108 cl3 respon1">
					Fresh food - good life
				</h3>
			</div>
			
			<p class="txt-s-101 cl9 p-b-30">
				Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolorem-que laudantium, totam rem aperiam, eaque ipsa quae.
			</p>
			
			<ul class="p-b-40">
				<li class="txt-m-122 cl6 flex-t p-b-12">
					<img class="m-t-5 m-r-10" src="images/icons/icon-list.png" alt="ICON-LIST">
					All products meet quality standards
				</li>

				<li class="txt-m-122 cl6 flex-t p-b-12">
					<img class="m-t-5 m-r-10" src="images/icons/icon-list.png" alt="ICON-LIST">
					With 8000 fresh and clean foods
				</li>

				<li class="txt-m-122 cl6 flex-t p-b-12">
					<img class="m-t-5 m-r-10" src="images/icons/icon-list.png" alt="ICON-LIST">
					Quality food - Fresh
				</li>

				<li class="txt-m-122 cl6 flex-t p-b-12">
					<img class="m-t-5 m-r-10" src="images/icons/icon-list.png" alt="ICON-LIST">
					Fast, convenient user interface
				</li>
			</ul>
	
			<div class="flex-w">
				<a href="shop-sidebar-grid.html" class="flex-c-m txt-s-103 cl6 size-a-2 how-btn1 bo-all-1 bocl11 hov-btn1 trans-04">
					Shop now
					<span class="lnr lnr-chevron-right m-l-7"></span>
					<span class="lnr lnr-chevron-right"></span>
				</a>
			</div>	
		</div>
	</div>
</section>


<!-- Number -->
<div class="sec-number parallax100 how-overlay2 p-t-50 p-b-50" style="background-image: url(images/slide_1.jpg);">
	<div class="container">
		<div class="flex-w flex-str">
			<div class="size-w-2 flex-col-c-m p-rl-15 p-tb-25 respon8 how-line3">
				<div class="m-b-20">
					<img src="images/icons/symbol-26.png" alt="SYMBOL">
				</div>

				<span class="txt-center txt-l-105 cl0 p-b-7">
					L'espace librairie
				</span>

				<span class="txt-center txt-m-501 cl0">
					Accueille
				</span>
			</div>

			<div class="size-w-2 flex-col-c-m p-rl-15 p-tb-25 respon8 how-line3">
				<div class="m-b-20">
					<img src="images/icons/symbol-27.png" alt="SYMBOL">
				</div>

				<span class="txt-center txt-l-105 cl0 p-b-7">
					méditerranéenne
				</span>

				<span class="txt-center txt-m-501 cl0">
					Cuisine
				</span>
			</div>

			<div class="size-w-2 flex-col-c-m p-rl-15 p-tb-25 respon8 how-line3">
				<div class="m-b-20">
					<img src="images/icons/symbol-28.png" alt="SYMBOL">
				</div>

				<span class="txt-center txt-l-105 cl0 p-b-7">
					4.9
				</span>

				<span class="txt-center txt-m-501 cl0">
					Avis des clients
				</span>
			</div>

			<div class="size-w-2 flex-col-c-m p-rl-15 p-tb-25 respon8 how-line3">
				<div class="m-b-20">
					<img src="images/icons/symbol-29.png" alt="SYMBOL">
				</div>

				<span class="txt-center txt-l-105 cl0 p-b-7 counter">
					2015
				</span>

				<span class="txt-center txt-m-501 cl0">
					Depuis
				</span>
			</div>
		</div>
	</div>
</div>



