
<style type="text/css">

    .set-cart-img-size
    {
        width: 77px!important;
        height: 64px!important;
        padding: 4px;
    }

    .set-cart-prod-height
    {
        max-height:250px;
        width: 269px;
        overflow-y: auto;
    }

    .set-cart-height
    {
        max-height: 460px;
    }

    .set-cart-info-width
    {
        width: 95px;
    }

    .set-rm-bt
    {
        margin-top: 3px;
        float: right;
    }

    .main-sub {
        top: 75%!important;
    }


</style>

<!-- Header desktop -->
<div class="container-menu-desktop">
	<div class="wrap-menu-desktop">
		<nav class="limiter-menu-desktop">
			<div class="left-header">
				<!-- Logo desktop -->		
				<div class="logo">
					<a href="javascript:window.location.href='index.html'"><img src="images/logo.png" alt="IMG-LOGO"></a>
				</div>	
			</div>
				
			<div class="center-header">
				<!-- Menu desktop -->
				<div class="menu-desktop">
					<ul class="main-menu">
						<li class="active-menu">
							<a href="javascript:window.location.href='index.html'">Home</a>
						</li>

						<li>
							<a>Order</a>
                            <ul class="sub-menu main-sub">
                                <li><a href="files/menu.pdf">Menu</a></li>
                                <li><a href="#/gallery">Order Online</a></li>
                            </ul>
						</li>

						<li>
							<a href="#/promotions">Our Offers</a>
						</li>

						<li>
							<a href="#/aboutUs">About Us</a>
						</li>

						<li>
							<a href="#/contactUs">Contact Us</a>
						</li>
					</ul>
				</div>	
			</div>
				
			<div class="right-header">
				<!-- Icon header -->
				<div class="wrap-icon-header flex-w flex-r-m h-full wrap-menu-click p-t-8">
					<div class="h-full flex-m">
						<div class="icon-header-item flex-c-m trans-04 js-show-modal-search">
							<img src="images/icons/icon-search.png" alt="SEARCH">
						</div>
					</div>
						
					<div id="menu-cart-ic" class="wrap-cart-header h-full flex-m m-l-10 menu-click" ng-class="vm.showCart == true ? 'show-menu-click showed' : ''">
						<div ng-click="vm.showHideCart()" id="cart_header_ic" class="icon-header-item flex-c-m trans-04 icon-header-noti" data-notify="{{vm.items_counter}}">
							<img src="images/icons/icon-cart-2.png" alt="CART">
						</div>

                        <div class="cart-header menu-click-child trans-04 set-cart-height">
                            <div class="bo-b-1 bocl15">
                                <!-- cart header item -->
                                <span ng-if="!vm.my_basket_products_array || vm.my_basket_products_array.length == 0">No Items Added</span>
                                <div class="set-cart-prod-height">
                                    <div class="flex-w flex-str m-b-25" ng-repeat="prod in vm.my_basket_products_array track by $index">
                                        <div class="size-w-15 flex-w flex-t">
                                            <a href="product-single.html" class="wrap-pic-w bo-all-1 bocl12 size-w-16 hov3 trans-04 m-r-14">
                                                <img class="set-cart-img-size" id="img_{{prod.key}}" ng-if="prod.image" class="set-product-img-width" ng-src="https://web.scriptr.io/apsdb/rest/{{vm.account}}/GetFile?apsws.time={{vm.time}}&apsws.authSig={{vm.authSig}}&apsws.responseType=json&apsws.authMode=simple&apsdb.fileName={{prod.image}}&apsdb.fieldName=attachments&apsdb.documentKey={{prod.key}}&apsdb.store=DefaultStore"/>

                                                <img class="set-cart-img-size" id="img_{{prod.key}}" ng-if="!prod.image" class="set-product-img-max-height" ng-src="/images/dish256.png"/>
                                            </a>

                                            <div class="size-w-17 flex-col-l">
                                                <a href="#/productSingle?key={{prod.key}}" title="{{prod.name}}" class="txt-s-108 cl3 hov-cl10 trans-04 basket-items-list-names">
                                                    {{prod.name}}
                                                </a>

                                                <span class="txt-s-101 cl9">
											<span>€{{(prod.portion && prod.portion == 'half') ? (prod.halfPortionPrice * prod.quantity).toFixed(2) : (prod.price * prod.quantity).toFixed(2)}}</span>
											<span ng-if="prod.portion == 'half'">(Half Portion)</span>
                                                    <!--span ng-if="!prod.portion">€{{(prod.price * prod.quantity).toFixed(2)}}</span-->
										</span>

                                                <div class="txt-s-109 cl12 set-cart-info-width">
											<span>
												x{{prod.quantity}}
											</span>

                                                    <button class="lh-10 size-w-14 set-rm-bt" ng-click="vm.removeProduct(prod)">
                                                        <img src="images/icons/icon-close.png" alt="CLOSE">
                                                    </button>
                                                </div>

                                            </div>
                                        </div>


                                    </div>
                                </div>

                                <div class="bo-t-1 bocl15 m-b-10 m-t-10">
                                    <div class="flex-w flex-sb-m p-t-22 p-b-12">
									<span class="txt-m-103 cl3 p-r-20">
										Total Items
									</span>

                                        <span class="txt-m-111 cl6">
										{{vm.items_counter}}
									</span>
                                    </div>

                                    <div class="flex-w flex-sb-m p-b-31">
									<span class="txt-m-103 cl3 p-r-20">
										Total
									</span>

                                        <span class="txt-m-111 cl10">
										€{{vm.total_amount.toFixed(2)}}
									</span>
                                    </div>

                                    <a ng-click="vm.showCart = false;" id="check_out_btn" href="#/shopCart" class="flex-c-m size-a-8 bg10 txt-s-105 cl13 hov-btn2 trans-04">
                                        check out
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div href="#/login" ng-if="!vm.isLoggedIn" ng-click="vm.redirect('login')" class="wrap-cart-header h-full flex-m mrgl-20 menu-click">
                            <div class="icon-header-item-login flex-c-m trans-04">
                                <i class="fa fa-user-circle icon-profile"></i><span class="mgr5">Login</span>
                            </div>
                        </div>

                        <div ng-if="vm.isLoggedIn" class="wrap-cart-header h-full flex-m menu-click">
                            <div class="icon-header-item-login flex-c-m trans-04" data-notify="2">
                                <ul class="main-menu">
                                    <li>
                                        <!--a href="#/about"><i class="fa fa-user-circle icon-profile"></i><span class="mgr5">{{vm.username}}</span><i class="fa fa-angle-down"></i></a-->
                                        <i class="fa fa-user-circle icon-profile"></i><span class="mgr5">{{vm.username}}</span><i class="fa fa-angle-down"></i>
                                        <ul class="sub-menu" style="z-index: 9999;">
                                            <li><a href="#/myAccount">My Account</a></li>
                                            <li><a href="#/myAddresses" href="">My Addresses</a></li>
                                            <li><a href="#/history" href="">My History</a></li>
                                            <li><a href="#/wishlist" href="">My Favorites</a></li>
                                            <li><a href="#/logout" href="">Log out</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
        </nav>
    </div>
</div>

<!-- Header Mobile -->
<div class="wrap-header-mobile">
    <!-- Logo moblie -->        
    <div class="logo-mobile">
        <a href="javascript:window.location.href='index.html'"><img src="images/logo.png" alt="IMG-LOGO"></a>
    </div>

    <!-- Icon header -->
    <div class="wrap-icon-header flex-w flex-r-m h-full wrap-menu-click">

        <div class="h-full flex-m">
            <div class="icon-header-item flex-c-m trans-04 js-show-modal-search">
                <img src="images/icons/icon-search.png" alt="SEARCH">
            </div>
        </div>

        <div id="menu-cart-ic" class="wrap-cart-header h-full flex-m m-l-10 menu-click" ng-class="vm.showCart == true ? 'show-menu-click showed' : ''">
            <div ng-click="vm.showHideCart()" id="cart_header_ic" class="icon-header-item flex-c-m trans-04 icon-header-noti" data-notify="{{vm.items_counter}}">
                <img src="images/icons/icon-cart-2.png" alt="CART">
            </div>

            <div class="cart-header menu-click-child trans-04 set-cart-height">
                <div class="bo-b-1 bocl15">
                    <!-- cart header item -->
                    <span ng-if="!vm.my_basket_products_array || vm.my_basket_products_array.length == 0">No Items Added</span>
                    <div class="set-cart-prod-height">
                        <div class="flex-w flex-str m-b-25" ng-repeat="prod in vm.my_basket_products_array track by $index">
                            <div class="size-w-15 flex-w flex-t">
                                <a href="product-single.html" class="wrap-pic-w bo-all-1 bocl12 size-w-16 hov3 trans-04 m-r-14">
                                    <img class="set-cart-img-size" id="img_{{prod.key}}" ng-if="prod.image" class="set-product-img-width" ng-src="https://web.scriptr.io/apsdb/rest/{{vm.account}}/GetFile?apsws.time={{vm.time}}&apsws.authSig={{vm.authSig}}&apsws.responseType=json&apsws.authMode=simple&apsdb.fileName={{prod.image}}&apsdb.fieldName=attachments&apsdb.documentKey={{prod.key}}&apsdb.store=DefaultStore"/>

                                    <img class="set-cart-img-size" id="img_{{prod.key}}" ng-if="!prod.image" class="set-product-img-max-height" ng-src="/images/dish256.png"/>
                                </a>

                                <div class="size-w-17 flex-col-l">
                                    <a href="#/productSingle?key={{prod.key}}" title="{{prod.name}}" class="txt-s-108 cl3 hov-cl10 trans-04 basket-items-list-names">
                                        {{prod.name}}
                                    </a>

                                    <span class="txt-s-101 cl9">
                                <span>€{{(prod.portion && prod.portion == 'half') ? (prod.halfPortionPrice * prod.quantity).toFixed(2) : (prod.price * prod.quantity).toFixed(2)}}</span>
                                <span ng-if="prod.portion == 'half'">(Half Portion)</span>
                                        <!--span ng-if="!prod.portion">€{{(prod.price * prod.quantity).toFixed(2)}}</span-->
                            </span>

                                    <div class="txt-s-109 cl12 set-cart-info-width">
                                <span>
                                    x{{prod.quantity}}
                                </span>

                                        <button class="lh-10 size-w-14 set-rm-bt" ng-click="vm.removeProduct(prod)">
                                            <img src="images/icons/icon-close.png" alt="CLOSE">
                                        </button>
                                    </div>

                                </div>
                            </div>


                        </div>
                    </div>

                    <div class="bo-t-1 bocl15 m-b-10 m-t-10">
                        <div class="flex-w flex-sb-m p-t-22 p-b-12">
                        <span class="txt-m-103 cl3 p-r-20">
                            Total Items
                        </span>

                            <span class="txt-m-111 cl6">
                            {{vm.items_counter}}
                        </span>
                        </div>

                        <div class="flex-w flex-sb-m p-b-31">
                        <span class="txt-m-103 cl3 p-r-20">
                            Total
                        </span>

                            <span class="txt-m-111 cl10">
                            €{{vm.total_amount.toFixed(2)}}
                        </span>
                        </div>

                        <a ng-click="vm.showCart = false;" id="check_out_btn" href="#/shopCart" class="flex-c-m size-a-8 bg10 txt-s-105 cl13 hov-btn2 trans-04">
                            check out
                        </a>
                    </div>
                </div>
            </div>

            <div href="#/login" ng-if="!vm.isLoggedIn" ng-click="vm.redirect('login')" class="wrap-cart-header h-full flex-m mrgl-20 menu-click">
                <div class="icon-header-item-login flex-c-m trans-04">
                    <i class="fa fa-user-circle icon-profile"></i><span class="mgr5">Login</span>
                </div>
            </div>

            <div ng-if="vm.isLoggedIn" class="wrap-cart-header h-full flex-m menu-click">
                <div class="icon-header-item-login flex-c-m trans-04" data-notify="2">
                    <ul class="main-menu">
                        <li>
                            <!--a href="#/about"><i class="fa fa-user-circle icon-profile"></i><span class="mgr5">{{vm.username}}</span><i class="fa fa-angle-down"></i></a-->
                            <i class="fa fa-user-circle icon-profile"></i><i class="fa fa-angle-down"></i>
                            <ul class="sub-menu" style="z-index: 9999;">
                                <li><a href="#/myAccount">My account</a></li>
                                <li><a href="#/myAddresses" href="">My addresses</a></li>
                                <li><a href="#/history" href="">History</a></li>
                                <li><a href="#/wishlist" href="">My favorites</a></li>
                                <li><a href="#/logout" href="">Log out</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>

        </div>


    </div>

    <!-- Button show menu -->
    <div class="btn-show-menu-mobile hamburger hamburger--squeeze">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
    </div>
</div>


<!-- Menu Mobile -->
<div class="menu-mobile">
    <ul class="main-menu-m">
        <li class="active-menu">
            <a href="javascript:window.location.href='index.html'">Home</a>
        </li>

        <li>
            <a href="#/gallery">Order Online</a>
        </li>

        <li>
            <a href="#/promotions">Offers</a>
        </li>

        <li>
            <a href="#/aboutUs">About Us</a>
        </li>

        <li>
            <a href="#/contactUs">Contact Us</a>
        </li>
    </ul>
</div>

<!-- Modal Search -->
<div class="modal-search-header flex-c-m trans-04 js-hide-modal-search">
    <button class="flex-c-m btn-hide-modal-search trans-04 js-hide-modal-search">
        <span class="lnr lnr-cross"></span>
    </button>
    
    <div class="container-search-header">
        <form class="wrap-search-header flex-w">
            <button class="flex-c-m trans-04" ng-click="vm.searchProduct(vm.searchValue)">
                <span class="lnr lnr-magnifier"></span>
            </button>
            <input class="input-search" ng-keyup="$event.keyCode == 13 ? vm.searchProduct(vm.searchValue) : null" ng-model="vm.searchValue" class="plh1" type="text" name="search" placeholder="Search products...">
        </form>
    </div>
</div>

