

<!-- Story -->
<section class="sec-story bg12 p-t-50 p-b-100">
	<div class="container">
		<div class="size-a-1 flex-col-c-m p-b-70">
			<div class="txt-center txt-m-201 cl10 how-pos1-parent m-b-14">
					Flower Shop

					<div class="how-pos1">
						<img src="images/serving-dish.png" alt="IMG">
					</div>
				</div>

				<h3 class="txt-center txt-l-101 cl3 respon1">
					NOS ACTUALITES
				</h3>
			</div>
		</div>
		<div class="flex-w flex-sb-t">
			<div class="size-w-31 wrap-pic-w how-shadow2 bo-all-15 bocl0 w-full-md">
				<img src="images/product_28.jpg" alt="IMG">
			</div>

			<div class="size-w-32 p-t-43 w-full-md">
				<h3 class="txt-center txt-l-401 cl15 p-b-44" style="font-size: 28px;">
					Trouver un bon resto libanais à Agde
				</h3>

				<p class="txt-center txt-m-115 cl6 p-b-25">
					Flower Shop est un restaurant libanais installé à Agde dans l'Hérault.
					<br>

					Les propriétaires vous proposent une cuisine libanaise typique et moderne, que vous ne trouverez pas ailleurs ! Tous les plats sont réalisés avec des produits frais, afin de vous garantir qualité et fraicheur tout au long de l'année.
				</p>

				<p class="txt-center txt-m-115 cl6 p-b-25">
					Le chef qui possède une expérience professionnelle de plus de 10 ans importe des produits spécialement du Liban, afin de vous proposer une cuisine relevée et agrémentée des épices que l'on ne peut trouver sur place.
					<br>

					Le restaurant libanais d'Agde vous propose un plat du jour, des plats à la carte, ainsi que des plats à emporter pour vos repas rapides.
					<br>

					Pour vos repas de groupe, vous pouvez également commander des plats libanais pour vos mariages, repas d'entreprises...
				</p>

				<p class="txt-center txt-m-115 cl6 p-b-25">

					Les soirées à thème sont régulièrement organisées à Flower Shop, n'hésitez pas à contacter le restaurant à Agde pour obtneir des renseigenements, consultez également la page actualités pour vous tenir informés des dernières nouveautés ! L'espace librairie vous accueille également pour un moment de détente et de culture...
					<br>Le restaurant libanais est ouvert du mardi au samedi, de 11h30 à 15h pour le service de midi, et de 19h à minuit le soir. Réservez votre table à Flower Shop, pour un moment de convivialité et de partage ! Appelez le resto au 04 67 94 49 56.
				</p>

				<!--div class="flex-w flex-c-b p-t-50 p-t-30">
					<img class="m-r-55" src="images/logo.png" alt="SIGN">

					<div class="flex-col-l p-b-5">
						<span class="txt-m-401 cl10 p-b-2">

						</span>

						<span class="txt-s-106 cl6">

						</span>
					</div>
				</div-->
			</div>
		</div>
	</div>
</section>

<!-- We do -->
<section class="sec-wedo flex-w flex-str">
	<div class="size-w-3 bg-img1 respon12" style="background-image: url(images/slide_2.jpg);"></div>

	<div class="size-w-3 bg0 p-t-145 p-b-100 p-rl-60 w-full-md p-rl-15-sm">
		<div class="size-a-1 flex-col-c-m p-b-20">
			<div class="txt-center txt-m-201 cl10 how-pos1-parent m-b-14">
				Flower Shop

				<div class="how-pos1">
					<img src="images/serving-dish.png" alt="IMG">
				</div>
			</div>

			<h3 class="txt-center txt-l-101 cl3 respon1">
				Que peut-on sert?
			</h3>
		</div>

		<!-- Progress -->
		<div class="wrap-progress">
			<span class="dis-block txt-m-121 cl6 p-b-21 p-t-41">
				Menu du jour
			</span>

			<div class="progress-item" data-percent="100">
				<div class="progress-inner txt-s-113 cl0 txt-right p-r-10">0%</div>
			</div>

			<span class="dis-block txt-m-121 cl6 p-b-21 p-t-41">
				Service Rapide
			</span>

			<div class="progress-item" data-percent="100">
				<div class="progress-inner txt-s-113 cl0 txt-right p-r-10">0%</div>
			</div>

			<span class="dis-block txt-m-121 cl6 p-b-21 p-t-41">
				Produit toujours frais
			</span>

			<div class="progress-item" data-percent="100">
				<div class="progress-inner txt-s-113 cl0 txt-right p-r-10">0%</div>
			</div>
		</div>
	</div>
</section>

<!-- Practice -->
<!--/section class="sec-practice bg12 p-t-145 p-b-70">
<div class="container">
	<div class="size-a-1 flex-col-c-m p-b-70">
		<div class="txt-center txt-m-201 cl10 how-pos1-parent m-b-14">
			Learn About Processes

			<div class="how-pos1">
				<img src="images/serving-dish.png" alt="IMG">
			</div>
		</div>

		<h3 class="txt-center txt-l-101 cl3 respon1">
			Farming Practice
		</h3>
	</div>

	<div class="flex-w flex-sb flex-str tab01">
		<div class="size-w-37 bg0 w-full-md m-b-30 tab01-arrow">

			<ul class="nav nav-tabs" role="tablist">
				<li class="nav-item flex-col-str">
					<a class="flex-c-m txt-m-119 cl6 nav-link active" data-toggle="tab" href="#tab-01" role="tab">Organic vegetables</a>
				</li>

				<li class="nav-item flex-col-str">
					<a class="flex-c-m txt-m-119 cl6 nav-link" data-toggle="tab" href="#tab-02" role="tab">Present technology</a>
				</li>

				<li class="nav-item flex-col-str">
					<a class="flex-c-m txt-m-119 cl6 nav-link" data-toggle="tab" href="#tab-03" role="tab">Fruit cultivation</a>
				</li>

				<li class="nav-item flex-col-str">
					<a class="flex-c-m txt-m-119 cl6 nav-link" data-toggle="tab" href="#tab-04" role="tab">Safe from pesticides</a>
				</li>

				<li class="nav-item flex-col-str">
					<a class="flex-c-m txt-m-119 cl6 nav-link" data-toggle="tab" href="#tab-05" role="tab">Customization</a>
				</li>

				<li class="nav-item flex-col-str">
					<a class="flex-c-m txt-m-119 cl6 nav-link" data-toggle="tab" href="#tab-06" role="tab">FARMING PRACTICE FOR</a>
				</li>
			</ul>
		</div>

		<div class="size-w-38 bg0 p-rl-75 p-tb-60 p-rl-15-sm w-full-md m-b-30">

			<div class="tab-content">

				<div class="tab-pane fade show active" id="tab-01" role="tabpanel">
					<div class="flex-w flex-sb-m">
						<div class="size-w-3 wrap-pic-w w-full-lg p-tb-15">
							<img src="images/practice-01.jpg" alt="IMG">
						</div>

						<div class="size-w-39 w-full-lg p-tb-15">
							<span class="txt-m-202 cl10">
								Fresh Vegetables
							</span>

							<h4 class="txt-m-118 cl3 p-t-10 p-b-20">
								The farm brings fresh
							</h4>

							<p class="txt-s-112 cl6 p-b-31">
								Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et.
								<br>Quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam.
							</p>

							<div class="flex-w flex-l-m">
								<a href="#" class="flex-c-m txt-s-103 cl6 size-a-15 how-btn1 bo-all-1 bocl11 hov-btn1 trans-04">
									Read more
									<span class="lnr lnr-chevron-right m-l-7"></span>
									<span class="lnr lnr-chevron-right"></span>
								</a>
							</div>
						</div>
					</div>
				</div>


				<div class="tab-pane fade" id="tab-02" role="tabpanel">
					<div class="flex-w flex-sb-m">
						<div class="size-w-3 wrap-pic-w w-full-lg p-tb-15">
							<img src="images/practice-02.jpg" alt="IMG">
						</div>

						<div class="size-w-39 w-full-lg p-tb-15">
							<span class="txt-m-202 cl10">
								Fresh Vegetables
							</span>

							<h4 class="txt-m-118 cl3 p-t-10 p-b-20">
								The farm brings fresh
							</h4>

							<p class="txt-s-112 cl6 p-b-31">
								Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et.
								<br>Quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam.
							</p>

							<div class="flex-w flex-l-m">
								<a href="#" class="flex-c-m txt-s-103 cl6 size-a-15 how-btn1 bo-all-1 bocl11 hov-btn1 trans-04">
									Read more
									<span class="lnr lnr-chevron-right m-l-7"></span>
									<span class="lnr lnr-chevron-right"></span>
								</a>
							</div>
						</div>
					</div>
				</div>


				<div class="tab-pane fade" id="tab-03" role="tabpanel">
					<div class="flex-w flex-sb-m">
						<div class="size-w-3 wrap-pic-w w-full-lg p-tb-15">
							<img src="images/practice-03.jpg" alt="IMG">
						</div>

						<div class="size-w-39 w-full-lg p-tb-15">
							<span class="txt-m-202 cl10">
								Fresh Vegetables
							</span>

							<h4 class="txt-m-118 cl3 p-t-10 p-b-20">
								The farm brings fresh
							</h4>

							<p class="txt-s-112 cl6 p-b-31">
								Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et.
								<br>Quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam.
							</p>

							<div class="flex-w flex-l-m">
								<a href="#" class="flex-c-m txt-s-103 cl6 size-a-15 how-btn1 bo-all-1 bocl11 hov-btn1 trans-04">
									Read more
									<span class="lnr lnr-chevron-right m-l-7"></span>
									<span class="lnr lnr-chevron-right"></span>
								</a>
							</div>
						</div>
					</div>
				</div>

				<div class="tab-pane fade" id="tab-04" role="tabpanel">
					<div class="flex-w flex-sb-m">
						<div class="size-w-3 wrap-pic-w w-full-lg p-tb-15">
							<img src="images/practice-04.jpg" alt="IMG">
						</div>

						<div class="size-w-39 w-full-lg p-tb-15">
							<span class="txt-m-202 cl10">
								Fresh Vegetables
							</span>

							<h4 class="txt-m-118 cl3 p-t-10 p-b-20">
								The farm brings fresh
							</h4>

							<p class="txt-s-112 cl6 p-b-31">
								Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et.
								<br>Quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam.
							</p>

							<div class="flex-w flex-l-m">
								<a href="#" class="flex-c-m txt-s-103 cl6 size-a-15 how-btn1 bo-all-1 bocl11 hov-btn1 trans-04">
									Read more
									<span class="lnr lnr-chevron-right m-l-7"></span>
									<span class="lnr lnr-chevron-right"></span>
								</a>
							</div>
						</div>
					</div>
				</div>


				<div class="tab-pane fade" id="tab-05" role="tabpanel">
					<div class="flex-w flex-sb-m">
						<div class="size-w-3 wrap-pic-w w-full-lg p-tb-15">
							<img src="images/practice-05.jpg" alt="IMG">
						</div>

						<div class="size-w-39 w-full-lg p-tb-15">
							<span class="txt-m-202 cl10">
								Fresh Vegetables
							</span>

							<h4 class="txt-m-118 cl3 p-t-10 p-b-20">
								The farm brings fresh
							</h4>

							<p class="txt-s-112 cl6 p-b-31">
								Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et.
								<br>Quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam.
							</p>

							<div class="flex-w flex-l-m">
								<a href="#" class="flex-c-m txt-s-103 cl6 size-a-15 how-btn1 bo-all-1 bocl11 hov-btn1 trans-04">
									Read more
									<span class="lnr lnr-chevron-right m-l-7"></span>
									<span class="lnr lnr-chevron-right"></span>
								</a>
							</div>
						</div>
					</div>
				</div>


				<div class="tab-pane fade" id="tab-06" role="tabpanel">
					<div class="flex-w flex-sb-m">
						<div class="size-w-3 wrap-pic-w w-full-lg p-tb-15">
							<img src="images/practice-06.jpg" alt="IMG">
						</div>

						<div class="size-w-39 w-full-lg p-tb-15">
							<span class="txt-m-202 cl10">
								Fresh Vegetables
							</span>

							<h4 class="txt-m-118 cl3 p-t-10 p-b-20">
								The farm brings fresh
							</h4>

							<p class="txt-s-112 cl6 p-b-31">
								Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et.
								<br>Quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam.
							</p>

							<div class="flex-w flex-l-m">
								<a href="#" class="flex-c-m txt-s-103 cl6 size-a-15 how-btn1 bo-all-1 bocl11 hov-btn1 trans-04">
									Read more
									<span class="lnr lnr-chevron-right m-l-7"></span>
									<span class="lnr lnr-chevron-right"></span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</section-->


<!-- Testimonials -->
<!--section class="sec-testimonials bg0 p-t-145 p-b-80">
	<div class="container">
		<div class="size-a-1 flex-col-c-m p-b-70">
			<div class="txt-center txt-m-201 cl10 how-pos1-parent m-b-14">
				Our Testimonials

				<div class="how-pos1">
					<img src="images/serving-dish.png" alt="IMG">
				</div>
			</div>

			<h3 class="txt-center txt-l-101 cl3 respon1">
				Feel the customer
			</h3>
		</div>

		<div class="wrap-slick7 m-rl--15">
			<div class="slick7">

				<div class="item-slick7 p-rl-15">
					<div class="flex-w flex-sb-t bo-all-2 bocl18 p-rl-33 p-t-33 p-b-30 hov7-parent p-rl-15-sm">
						<div class="size-a-14 wrap-pic-s bo-3-rad-50per bocl11 of-hidden trans-04 hov7">
							<img src="images/avatar-01.jpg" alt="AVATAR">
						</div>

						<div class="size-w-7 flex-col-l p-t-10 w-full-sm">
							<p class="txt-s-101 cl6 p-b-17">
								Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure.
							</p>

							<span class="txt-m-117 cl3 p-b-4">
								Christina Cox
							</span>

							<span class="txt-s-106 cl10">

							</span>
						</div>
					</div>
				</div>

				<div class="item-slick7 p-rl-15">
					<div class="flex-w flex-sb-t bo-all-2 bocl18 p-rl-33 p-t-33 p-b-30 hov7-parent p-rl-15-sm">
						<div class="size-a-14 wrap-pic-s bo-3-rad-50per bocl11 of-hidden trans-04 hov7">
							<img src="images/avatar-02.jpg" alt="AVATAR">
						</div>

						<div class="size-w-7 flex-col-l p-t-10 w-full-sm">
							<p class="txt-s-101 cl6 p-b-17">
								Except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces.
							</p>

							<span class="txt-m-117 cl3 p-b-4">
								Daniel Ross
							</span>

							<span class="txt-s-106 cl10">

							</span>
						</div>
					</div>
				</div>

				<div class="item-slick7 p-rl-15">
					<div class="flex-w flex-sb-t bo-all-2 bocl18 p-rl-33 p-t-33 p-b-30 hov7-parent p-rl-15-sm">
						<div class="size-a-14 wrap-pic-s bo-3-rad-50per bocl11 of-hidden trans-04 hov7">
							<img src="images/avatar-01.jpg" alt="AVATAR">
						</div>

						<div class="size-w-7 flex-col-l p-t-10 w-full-sm">
							<p class="txt-s-101 cl6 p-b-17">
								Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure.
							</p>

							<span class="txt-m-117 cl3 p-b-4">
								Christina Cox
							</span>

							<span class="txt-s-106 cl10">

							</span>
						</div>
					</div>
				</div>

				<div class="item-slick7 p-rl-15">
					<div class="flex-w flex-sb-t bo-all-2 bocl18 p-rl-33 p-t-33 p-b-30 hov7-parent p-rl-15-sm">
						<div class="size-a-14 wrap-pic-s bo-3-rad-50per bocl11 of-hidden trans-04 hov7">
							<img src="images/avatar-02.jpg" alt="AVATAR">
						</div>

						<div class="size-w-7 flex-col-l p-t-10 w-full-sm">
							<p class="txt-s-101 cl6 p-b-17">
								Except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces.
							</p>

							<span class="txt-m-117 cl3 p-b-4">
								Daniel Ross
							</span>

							<span class="txt-s-106 cl10">

							</span>
						</div>
					</div>
				</div>
			</div>

			<div class="wrap-dot-slick7 p-rl-15 p-t-65"></div>
		</div>
	</div>
</section-->
