

<!-- Story -->
<section class="sec-story bg12 p-t-50 p-b-100">
	<div class="container">
		<div class="size-a-1 flex-col-c-m p-b-70">
			<div class="txt-center txt-m-201 cl10 how-pos1-parent m-b-14">
					Green Smile

					<div class="how-pos1">
						<img src="images/bouquet.png" alt="IMG">
					</div>
				</div>

				<h3 class="txt-center txt-l-101 cl3 respon1">
					About Us
				</h3>
			</div>
		</div>
		<div class="flex-w flex-sb-t">
			<div class="size-w-31 wrap-pic-w how-shadow2 bo-all-15 bocl0 w-full-md">
				<img src="images/about_us.png" alt="IMG">
			</div>

			<div class="size-w-32 p-t-43 w-full-md">
				<h3 class="txt-center txt-l-401 cl15 p-b-44" style="font-size: 28px;">
					Green Smile Cyprus
				</h3>

				<p class="txt-center txt-m-115 cl6 p-b-25">
					H ETAIPEIA Green Smile IΔPYΘHKE TO 2016 AΠO ENAN EMΠEIPO ΔAΣOΠONO KAI ΔIAXEIPIΣTH ΦYΣIKOY ΠEPIBAΛΛONTOΣ, KAI ΠAPOΛO TO MIKPO XPONIKO ΔIAΣTHMA ΛEITOYPΓIAΣ THΣ, EXEI KATAΦEPEI EΠITYXΩΣ NA EΞEΛIXΘEI PAΓΔAIA KAI NA ΠPOΣΦEPEI OΛΩN TΩN EIΔΩN KHΠOYPIKEΣ EPΓAΣIEΣ KAI APXITEKTONIKH/ΣXEΔIAΣMO KHΠΩN ΣE EPΓAΣIAKOYΣ KAI OIKIΣTIKOYΣ XΩPOYΣ KAΘΩΣ EΠIΣHΣ ΣE ΔHMOYΣ KAI KOINOTIKA ΣYMBOYΛIA. 
				</p>

				<p class="txt-center txt-m-115 cl6 p-b-25">
					TA ΣXEΔIA ΠAPEXONTAI KAI ΣE AΠEIKONIΣH 3D. 
					<br>

					EΠIΣHΣ, H ETAIPEIA MAΣ AΞIZEI NA ΣHMEIΩΘEI ΠΩΣ ΠPOΣΦEPEI TOΣO YΠHPEΣIEΣ ΣYNTHPHΣHΣ ΠIΣINΩN KAI EΠIΔIOPΘΩΣHΣ THΣ OΠOIAΣΔHΠOTE BΛABHΣ, OΣO KAI EΓKATAΣTAΣEIΣ ΣYΣTHMATΩN APΔEYΣHΣ, ΨEKAΣMATA ME EΓKEKPIMENH AΔEIA, KΛAΔEMATA K.Λ.Π. 
					
				</p>

				<p class="txt-center txt-m-115 cl6 p-b-25">

					ΣTHN EN ΛOΓΩ ΣEΛIΔA MΠOPEITE NA BPEITE ΦΩTOΓPAΦIKO YΛIKO AΠO TIΣ YΠHPEΣIEΣ MAΣ KAΘΩΣ EΠIΣHΣ KAI ΠPOIONTA ΔIAΘEΣIMA ΠPOΣ ΠΩΛHΣH. 
					
				</p>

				<p class="txt-center txt-m-115 cl6 p-b-25">

				Green Smile among other services,also offers installation of irrigation system, planting, trimming and/or pruning of any kind of tree(s), maintenance, lawn mowing, pulverize, fertilizing, design and gardening installation etc. We collect any dirt/rubbish made, pool cleaning service etc,all in very reasonable prices. Forester management 99 40 55 60

				</p>

				<!--div class="flex-w flex-c-b p-t-50 p-t-30">
					<img class="m-r-55" src="images/logo.png" alt="SIGN">

					<div class="flex-col-l p-b-5">
						<span class="txt-m-401 cl10 p-b-2">

						</span>

						<span class="txt-s-106 cl6">

						</span>
					</div>
				</div-->
			</div>
		</div>
	</div>
</section>

<!-- We do -->
<!-- <section class="sec-wedo flex-w flex-str">
	<div class="size-w-3 bg-img1 respon12" style="background-image: url(images/slide_2.jpg);"></div>

	<div class="size-w-3 bg0 p-t-145 p-b-100 p-rl-60 w-full-md p-rl-15-sm">
		<div class="size-a-1 flex-col-c-m p-b-20">
			<div class="txt-center txt-m-201 cl10 how-pos1-parent m-b-14">
				Green Smile

				<div class="how-pos1">
					<img src="images/bouquet.png" alt="IMG">
				</div>
			</div>

			<h3 class="txt-center txt-l-101 cl3 respon1">
				Que peut-on sert?
			</h3>
		</div>


		<div class="wrap-progress">
			<span class="dis-block txt-m-121 cl6 p-b-21 p-t-41">
				Menu du jour
			</span>

			<div class="progress-item" data-percent="100">
				<div class="progress-inner txt-s-113 cl0 txt-right p-r-10">0%</div>
			</div>

			<span class="dis-block txt-m-121 cl6 p-b-21 p-t-41">
				Service Rapide
			</span>

			<div class="progress-item" data-percent="100">
				<div class="progress-inner txt-s-113 cl0 txt-right p-r-10">0%</div>
			</div>

			<span class="dis-block txt-m-121 cl6 p-b-21 p-t-41">
				Produit toujours frais
			</span>

			<div class="progress-item" data-percent="100">
				<div class="progress-inner txt-s-113 cl0 txt-right p-r-10">0%</div>
			</div>
		</div>
	</div>
</section> -->

<!-- Practice -->
<!--/section class="sec-practice bg12 p-t-145 p-b-70">
<div class="container">
	<div class="size-a-1 flex-col-c-m p-b-70">
		<div class="txt-center txt-m-201 cl10 how-pos1-parent m-b-14">
			Learn About Processes

			<div class="how-pos1">
				<img src="images/bouquet.png" alt="IMG">
			</div>
		</div>

		<h3 class="txt-center txt-l-101 cl3 respon1">
			Farming Practice
		</h3>
	</div>

	<div class="flex-w flex-sb flex-str tab01">
		<div class="size-w-37 bg0 w-full-md m-b-30 tab01-arrow">

			<ul class="nav nav-tabs" role="tablist">
				<li class="nav-item flex-col-str">
					<a class="flex-c-m txt-m-119 cl6 nav-link active" data-toggle="tab" href="#tab-01" role="tab">Organic vegetables</a>
				</li>

				<li class="nav-item flex-col-str">
					<a class="flex-c-m txt-m-119 cl6 nav-link" data-toggle="tab" href="#tab-02" role="tab">Present technology</a>
				</li>

				<li class="nav-item flex-col-str">
					<a class="flex-c-m txt-m-119 cl6 nav-link" data-toggle="tab" href="#tab-03" role="tab">Fruit cultivation</a>
				</li>

				<li class="nav-item flex-col-str">
					<a class="flex-c-m txt-m-119 cl6 nav-link" data-toggle="tab" href="#tab-04" role="tab">Safe from pesticides</a>
				</li>

				<li class="nav-item flex-col-str">
					<a class="flex-c-m txt-m-119 cl6 nav-link" data-toggle="tab" href="#tab-05" role="tab">Customization</a>
				</li>

				<li class="nav-item flex-col-str">
					<a class="flex-c-m txt-m-119 cl6 nav-link" data-toggle="tab" href="#tab-06" role="tab">FARMING PRACTICE FOR</a>
				</li>
			</ul>
		</div>

		<div class="size-w-38 bg0 p-rl-75 p-tb-60 p-rl-15-sm w-full-md m-b-30">

			<div class="tab-content">

				<div class="tab-pane fade show active" id="tab-01" role="tabpanel">
					<div class="flex-w flex-sb-m">
						<div class="size-w-3 wrap-pic-w w-full-lg p-tb-15">
							<img src="images/practice-01.jpg" alt="IMG">
						</div>

						<div class="size-w-39 w-full-lg p-tb-15">
							<span class="txt-m-202 cl10">
								Fresh Vegetables
							</span>

							<h4 class="txt-m-118 cl3 p-t-10 p-b-20">
								The farm brings fresh
							</h4>

							<p class="txt-s-112 cl6 p-b-31">
								Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et.
								<br>Quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam.
							</p>

							<div class="flex-w flex-l-m">
								<a href="#" class="flex-c-m txt-s-103 cl6 size-a-15 how-btn1 bo-all-1 bocl11 hov-btn1 trans-04">
									Read more
									<span class="lnr lnr-chevron-right m-l-7"></span>
									<span class="lnr lnr-chevron-right"></span>
								</a>
							</div>
						</div>
					</div>
				</div>


				<div class="tab-pane fade" id="tab-02" role="tabpanel">
					<div class="flex-w flex-sb-m">
						<div class="size-w-3 wrap-pic-w w-full-lg p-tb-15">
							<img src="images/practice-02.jpg" alt="IMG">
						</div>

						<div class="size-w-39 w-full-lg p-tb-15">
							<span class="txt-m-202 cl10">
								Fresh Vegetables
							</span>

							<h4 class="txt-m-118 cl3 p-t-10 p-b-20">
								The farm brings fresh
							</h4>

							<p class="txt-s-112 cl6 p-b-31">
								Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et.
								<br>Quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam.
							</p>

							<div class="flex-w flex-l-m">
								<a href="#" class="flex-c-m txt-s-103 cl6 size-a-15 how-btn1 bo-all-1 bocl11 hov-btn1 trans-04">
									Read more
									<span class="lnr lnr-chevron-right m-l-7"></span>
									<span class="lnr lnr-chevron-right"></span>
								</a>
							</div>
						</div>
					</div>
				</div>


				<div class="tab-pane fade" id="tab-03" role="tabpanel">
					<div class="flex-w flex-sb-m">
						<div class="size-w-3 wrap-pic-w w-full-lg p-tb-15">
							<img src="images/practice-03.jpg" alt="IMG">
						</div>

						<div class="size-w-39 w-full-lg p-tb-15">
							<span class="txt-m-202 cl10">
								Fresh Vegetables
							</span>

							<h4 class="txt-m-118 cl3 p-t-10 p-b-20">
								The farm brings fresh
							</h4>

							<p class="txt-s-112 cl6 p-b-31">
								Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et.
								<br>Quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam.
							</p>

							<div class="flex-w flex-l-m">
								<a href="#" class="flex-c-m txt-s-103 cl6 size-a-15 how-btn1 bo-all-1 bocl11 hov-btn1 trans-04">
									Read more
									<span class="lnr lnr-chevron-right m-l-7"></span>
									<span class="lnr lnr-chevron-right"></span>
								</a>
							</div>
						</div>
					</div>
				</div>

				<div class="tab-pane fade" id="tab-04" role="tabpanel">
					<div class="flex-w flex-sb-m">
						<div class="size-w-3 wrap-pic-w w-full-lg p-tb-15">
							<img src="images/practice-04.jpg" alt="IMG">
						</div>

						<div class="size-w-39 w-full-lg p-tb-15">
							<span class="txt-m-202 cl10">
								Fresh Vegetables
							</span>

							<h4 class="txt-m-118 cl3 p-t-10 p-b-20">
								The farm brings fresh
							</h4>

							<p class="txt-s-112 cl6 p-b-31">
								Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et.
								<br>Quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam.
							</p>

							<div class="flex-w flex-l-m">
								<a href="#" class="flex-c-m txt-s-103 cl6 size-a-15 how-btn1 bo-all-1 bocl11 hov-btn1 trans-04">
									Read more
									<span class="lnr lnr-chevron-right m-l-7"></span>
									<span class="lnr lnr-chevron-right"></span>
								</a>
							</div>
						</div>
					</div>
				</div>


				<div class="tab-pane fade" id="tab-05" role="tabpanel">
					<div class="flex-w flex-sb-m">
						<div class="size-w-3 wrap-pic-w w-full-lg p-tb-15">
							<img src="images/practice-05.jpg" alt="IMG">
						</div>

						<div class="size-w-39 w-full-lg p-tb-15">
							<span class="txt-m-202 cl10">
								Fresh Vegetables
							</span>

							<h4 class="txt-m-118 cl3 p-t-10 p-b-20">
								The farm brings fresh
							</h4>

							<p class="txt-s-112 cl6 p-b-31">
								Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et.
								<br>Quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam.
							</p>

							<div class="flex-w flex-l-m">
								<a href="#" class="flex-c-m txt-s-103 cl6 size-a-15 how-btn1 bo-all-1 bocl11 hov-btn1 trans-04">
									Read more
									<span class="lnr lnr-chevron-right m-l-7"></span>
									<span class="lnr lnr-chevron-right"></span>
								</a>
							</div>
						</div>
					</div>
				</div>


				<div class="tab-pane fade" id="tab-06" role="tabpanel">
					<div class="flex-w flex-sb-m">
						<div class="size-w-3 wrap-pic-w w-full-lg p-tb-15">
							<img src="images/practice-06.jpg" alt="IMG">
						</div>

						<div class="size-w-39 w-full-lg p-tb-15">
							<span class="txt-m-202 cl10">
								Fresh Vegetables
							</span>

							<h4 class="txt-m-118 cl3 p-t-10 p-b-20">
								The farm brings fresh
							</h4>

							<p class="txt-s-112 cl6 p-b-31">
								Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et.
								<br>Quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam.
							</p>

							<div class="flex-w flex-l-m">
								<a href="#" class="flex-c-m txt-s-103 cl6 size-a-15 how-btn1 bo-all-1 bocl11 hov-btn1 trans-04">
									Read more
									<span class="lnr lnr-chevron-right m-l-7"></span>
									<span class="lnr lnr-chevron-right"></span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</section-->


<!-- Testimonials -->
<!--section class="sec-testimonials bg0 p-t-145 p-b-80">
	<div class="container">
		<div class="size-a-1 flex-col-c-m p-b-70">
			<div class="txt-center txt-m-201 cl10 how-pos1-parent m-b-14">
				Our Testimonials

				<div class="how-pos1">
					<img src="images/bouquet.png" alt="IMG">
				</div>
			</div>

			<h3 class="txt-center txt-l-101 cl3 respon1">
				Feel the customer
			</h3>
		</div>

		<div class="wrap-slick7 m-rl--15">
			<div class="slick7">

				<div class="item-slick7 p-rl-15">
					<div class="flex-w flex-sb-t bo-all-2 bocl18 p-rl-33 p-t-33 p-b-30 hov7-parent p-rl-15-sm">
						<div class="size-a-14 wrap-pic-s bo-3-rad-50per bocl11 of-hidden trans-04 hov7">
							<img src="images/avatar-01.jpg" alt="AVATAR">
						</div>

						<div class="size-w-7 flex-col-l p-t-10 w-full-sm">
							<p class="txt-s-101 cl6 p-b-17">
								Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure.
							</p>

							<span class="txt-m-117 cl3 p-b-4">
								Christina Cox
							</span>

							<span class="txt-s-106 cl10">

							</span>
						</div>
					</div>
				</div>

				<div class="item-slick7 p-rl-15">
					<div class="flex-w flex-sb-t bo-all-2 bocl18 p-rl-33 p-t-33 p-b-30 hov7-parent p-rl-15-sm">
						<div class="size-a-14 wrap-pic-s bo-3-rad-50per bocl11 of-hidden trans-04 hov7">
							<img src="images/avatar-02.jpg" alt="AVATAR">
						</div>

						<div class="size-w-7 flex-col-l p-t-10 w-full-sm">
							<p class="txt-s-101 cl6 p-b-17">
								Except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces.
							</p>

							<span class="txt-m-117 cl3 p-b-4">
								Daniel Ross
							</span>

							<span class="txt-s-106 cl10">

							</span>
						</div>
					</div>
				</div>

				<div class="item-slick7 p-rl-15">
					<div class="flex-w flex-sb-t bo-all-2 bocl18 p-rl-33 p-t-33 p-b-30 hov7-parent p-rl-15-sm">
						<div class="size-a-14 wrap-pic-s bo-3-rad-50per bocl11 of-hidden trans-04 hov7">
							<img src="images/avatar-01.jpg" alt="AVATAR">
						</div>

						<div class="size-w-7 flex-col-l p-t-10 w-full-sm">
							<p class="txt-s-101 cl6 p-b-17">
								Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure.
							</p>

							<span class="txt-m-117 cl3 p-b-4">
								Christina Cox
							</span>

							<span class="txt-s-106 cl10">

							</span>
						</div>
					</div>
				</div>

				<div class="item-slick7 p-rl-15">
					<div class="flex-w flex-sb-t bo-all-2 bocl18 p-rl-33 p-t-33 p-b-30 hov7-parent p-rl-15-sm">
						<div class="size-a-14 wrap-pic-s bo-3-rad-50per bocl11 of-hidden trans-04 hov7">
							<img src="images/avatar-02.jpg" alt="AVATAR">
						</div>

						<div class="size-w-7 flex-col-l p-t-10 w-full-sm">
							<p class="txt-s-101 cl6 p-b-17">
								Except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces.
							</p>

							<span class="txt-m-117 cl3 p-b-4">
								Daniel Ross
							</span>

							<span class="txt-s-106 cl10">

							</span>
						</div>
					</div>
				</div>
			</div>

			<div class="wrap-dot-slick7 p-rl-15 p-t-65"></div>
		</div>
	</div>
</section-->
