<div class="bg0 p-t-95 p-b-100">
	<div class="container">
		<form name="resetLinkForm">
			<div class="col-xs-12" id="alert_msg">
				<div id="alert_msg_content" class="alert">
				</div>
			</div>
			<p class="txt-s-101 cl9 p-b-17">
				Lost your password? Please enter your username or email address. You will receive a link to create a new password via email.
			</p>

			<div class="p-b-20">
				<div class="txt-s-101 cl9 p-b-14">
					Username or email
				</div>

				<input ng-model="vm.email" class="txt-s-101 cl3 size-a-41 bo-all-1 bocl15 p-rl-15 focus1" type="email" name="email" placeholder="example@abc.xyz" required>
				<div>
			      <span class="inline-error" ng-show="vm.submitted && resetLinkForm.email.$error.email">
			        Not valid email.</span>
			    </div>
			</div>

			<div class="flex-w">
				<button ng-click="vm.sendResetLink();vm.submitted=true;" class="flex-c-m txt-s-105 cl0 bg10 size-a-40 hov-btn2 trans-04 p-rl-10 m-r-18" ng-class="(vm.loading) ? 'is-disabled': ''">
					<i ng-if="vm.loading" class="fa fa-spinner fa-spin fa-1x loading"></i>
					<span> {{vm.loading ? 'LOADING ..' : 'Reset Password'}}</span>
				</button>
			</div>
		</form>
	</div>
</div>
