
<style type="text/css">
	h2{
		/*background: rgba(95, 50, 50, 0.3);*/
    	color: white!important;
    	font-size: 36px!important;
	}

</style>

<!-- Slider -->
<section class="sec-slider">
	<div class="rev_slider_wrapper fullwidthbanner-container">
		<div id="rev_slider_6" class="rev_slide fullwidthabanner"  data-version="5.4.5" style="display:none">
			<ul>
				<!-- Slide 1 -->
				<li data-transition="fade">
					<!--  -->
					<img src="images/slide_01.jpg" style="height:20px;" alt="IMG-BG" class="rev-slidebg">
					
					<!--  -->
					<div class="tp-caption tp-resizeme flex-c-m flex-w layer1"
					data-frames='[{"delay":1700,"speed":1500,"frame":"0","from":"y:-150px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'

				   	data-x="['center']"
				    data-y="['center']" 
				    data-hoffset="['0', '0', '0', '0']" 
				    data-voffset="['-100', '-100', '-100', '-120']"
				 
				    data-width="['960','960','768','576']"
				    data-height="['auto']" 
				 
				    data-paddingtop="[0, 0, 0, 0]"
				    data-paddingright="[15, 15, 15, 15]"
				    data-paddingbottom="[0, 0, 0, 0]"
				    data-paddingleft="[15, 15, 15, 15]"

				    data-basealign="slide" 
					data-responsive_offset="on"
				    >
					    <!-- <img style="margin-top: -50px;"  src="images/logo.png" alt="IMG"> -->
					</div>
										
					<!--  -->
					<h2 class="tp-caption tp-resizeme layer2" 
					data-frames='[{"delay":500,"split":"chars","splitdelay":0.05,"speed":1300,"frame":"0","from":"x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'

					data-visibility="['on', 'on', 'on', 'on']"

				    data-fontsize="['94', '94', '80', '70']" 
				    data-lineheight="['100', '100', '90', '80']"
				    data-color="['#fff']" 
				    data-textAlign="['center', 'center', 'center', 'center']"
				 
				    data-x="['center']" 
				    data-y="['center']" 
				    data-hoffset="['0', '0', '0', '0']" 
				    data-voffset="['20', '20', '20', '20']"
				 
				    data-width="['960','960','768','576']"
				    data-height="['auto']" 
				    data-whitespace="['normal']" 
				 
				    data-paddingtop="[0, 0, 0, 0]"
				    data-paddingright="[15, 15, 15, 15]"
				    data-paddingbottom="[0, 0, 0, 0]"
				    data-paddingleft="[15, 15, 15, 15]"

				    data-basealign="slide" 
					data-responsive_offset="on"
				    >
				    		Green Smile CY
				    </h2>

				    <!--  -->	
					<div class="tp-caption tp-resizeme flex-c-m flex-w layer3"
					data-frames='[{"delay":2500,"speed":1500,"frame":"0","from":"y:150px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'

				   	data-x="['center']"
				    data-y="['center']" 
				    data-hoffset="['0', '0', '0', '0']" 
				    data-voffset="['132', '132', '132', '152']"
				 
				    data-width="['960','960','768','576']"
				    data-height="['auto']" 
				 
				    data-paddingtop="[0, 0, 0, 0]"
				    data-paddingright="[15, 15, 15, 15]"
				    data-paddingbottom="[0, 0, 0, 0]"
				    data-paddingleft="[15, 15, 15, 15]"

				    data-basealign="slide" 
					data-responsive_offset="on"
				    >

					  <!--   <a href="#/contactUs">
					     	<img src="images/icons/icon-phone-03.png" alt="IMG">
					     	<span style="font-size: 20px;font-weight: bold;margin-left: 10px;color:	#81b03f;">RESERVER VOTRE TABLE!</span>
					 	</a> -->
					</div>
				</li>

				<!-- Slide 2 -->
				<li data-transition="fade">
					<!--  -->
					<img src="images/slide_02.jpg" alt="IMG-BG" class="rev-slidebg">
					
					<!--  -->
					<div class="tp-caption tp-resizeme flex-c-m flex-w layer1"
					data-frames='[{"delay":1700,"speed":1500,"frame":"0","from":"y:-150px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'

				   	data-x="['center']"
				    data-y="['center']" 
				    data-hoffset="['0', '0', '0', '0']" 
				    data-voffset="['-100', '-100', '-100', '-120']"
				 
				    data-width="['960','960','768','576']"
				    data-height="['auto']" 
				 
				    data-paddingtop="[0, 0, 0, 0]"
				    data-paddingright="[15, 15, 15, 15]"
				    data-paddingbottom="[0, 0, 0, 0]"
				    data-paddingleft="[15, 15, 15, 15]"

				    data-basealign="slide" 
					data-responsive_offset="on"
				    >
					    <!-- <img src="images/logo.png" alt="IMG"> -->
					</div>
										
					<!--  -->
				<!-- 	<h2 class="tp-caption tp-resizeme layer2" 
					data-frames='[{"delay":500,"split":"chars","splitdelay":0.05,"speed":1300,"frame":"0","from":"x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'

					data-visibility="['on', 'on', 'on', 'on']"

				    data-fontsize="['94', '94', '80', '70']" 
				    data-lineheight="['100', '100', '90', '80']"
				    data-color="['#fff']" 
				    data-textAlign="['center', 'center', 'center', 'center']"
				 
				    data-x="['center']" 
				    data-y="['center']" 
				    data-hoffset="['0', '0', '0', '0']" 
				    data-voffset="['20', '20', '20', '20']"
				 
				    data-width="['960','960','768','576']"
				    data-height="['auto']" 
				    data-whitespace="['normal']" 
				 
				    data-paddingtop="[0, 0, 0, 0]"
				    data-paddingright="[15, 15, 15, 15]"
				    data-paddingbottom="[0, 0, 0, 0]"
				    data-paddingleft="[15, 15, 15, 15]"

				    data-basealign="slide" 
					data-responsive_offset="on"
				    >
				    	Green Smile CY
				    </h2> -->

				    <!--  -->	
					<div class="tp-caption tp-resizeme flex-c-m flex-w layer3"
					data-frames='[{"delay":2500,"speed":1500,"frame":"0","from":"y:150px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'

				   	data-x="['center']"
				    data-y="['center']" 
				    data-hoffset="['0', '0', '0', '0']" 
				    data-voffset="['132', '132', '132', '152']"
				 
				    data-width="['960','960','768','576']"
				    data-height="['auto']" 
				 
				    data-paddingtop="[0, 0, 0, 0]"
				    data-paddingright="[15, 15, 15, 15]"
				    data-paddingbottom="[0, 0, 0, 0]"
				    data-paddingleft="[15, 15, 15, 15]"

				    data-basealign="slide" 
					data-responsive_offset="on"
				    >
					   <!--  <a href="#/contactUs">
					     	<img src="images/icons/icon-phone-03.png" alt="IMG">
					     	<span style="font-size: 20px;font-weight: bold;margin-left: 10px;color:	#81b03f;">RESERVER VOTRE TABLE!</span>
					 	</a> -->
					</div>
				</li>

				<!-- Slide 3 -->
				<li data-transition="fade">
					<!--  -->
					<img src="images/slide_03.jpg" alt="IMG-BG" class="rev-slidebg">
					
					<!--  -->
					<div class="tp-caption tp-resizeme flex-c-m flex-w layer1"
					data-frames='[{"delay":1700,"speed":1500,"frame":"0","from":"y:-150px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'

				   	data-x="['center']"
				    data-y="['center']" 
				    data-hoffset="['0', '0', '0', '0']" 
				    data-voffset="['-100', '-100', '-100', '-120']"
				 
				    data-width="['960','960','768','576']"
				    data-height="['auto']" 
				 
				    data-paddingtop="[0, 0, 0, 0]"
				    data-paddingright="[15, 15, 15, 15]"
				    data-paddingbottom="[0, 0, 0, 0]"
				    data-paddingleft="[15, 15, 15, 15]"

				    data-basealign="slide" 
					data-responsive_offset="on"
				    >
					    <!-- <img src="images/logo.png" alt="IMG"> -->
					</div>
										
					<!--  -->
			<!-- 		<h2 class="tp-caption tp-resizeme layer2" 
					data-frames='[{"delay":500,"split":"chars","splitdelay":0.05,"speed":1300,"frame":"0","from":"x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'

					data-visibility="['on', 'on', 'on', 'on']"

				    data-fontsize="['94', '94', '80', '70']" 
				    data-lineheight="['100', '100', '90', '80']"
				    data-color="['#fff']" 
				    data-textAlign="['center', 'center', 'center', 'center']"
				 
				    data-x="['center']" 
				    data-y="['center']" 
				    data-hoffset="['0', '0', '0', '0']" 
				    data-voffset="['20', '20', '20', '20']"
				 
				    data-width="['960','960','768','576']"
				    data-height="['auto']" 
				    data-whitespace="['normal']" 
				 
				    data-paddingtop="[0, 0, 0, 0]"
				    data-paddingright="[15, 15, 15, 15]"
				    data-paddingbottom="[0, 0, 0, 0]"
				    data-paddingleft="[15, 15, 15, 15]"

				    data-basealign="slide" 
					data-responsive_offset="on"
				    >
				    	Green Smile CY
				    </h2> -->

				    <!--  -->	
					<div class="tp-caption tp-resizeme flex-c-m flex-w layer3"
					data-frames='[{"delay":2500,"speed":1500,"frame":"0","from":"y:150px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'

				   	data-x="['center']"
				    data-y="['center']" 
				    data-hoffset="['0', '0', '0', '0']" 
				    data-voffset="['132', '132', '132', '152']"
				 
				    data-width="['960','960','768','576']"
				    data-height="['auto']" 
				 
				    data-paddingtop="[0, 0, 0, 0]"
				    data-paddingright="[15, 15, 15, 15]"
				    data-paddingbottom="[0, 0, 0, 0]"
				    data-paddingleft="[15, 15, 15, 15]"

				    data-basealign="slide" 
					data-responsive_offset="on"
				    >
					    <!-- <a href="#/contactUs">
					     	<img src="images/icons/icon-phone-03.png" alt="IMG">
					     	<span style="font-size: 20px;font-weight: bold;margin-left: 10px;color:	#81b03f;">RESERVER VOTRE TABLE!</span>
					 	</a> -->
					</div>
				</li>
			</ul>				
		</div>
	</div>
</section>